@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

/* Extra Large Devices (Desktops, 1200px and above) */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
}

/* header start */
header {
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;

}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

nav a:hover {
    color: #ff4d4f;
    transition: all 0.3s ease;
}

.search_bar {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    padding: 19px 20px;
}

.search_bar .fa-magnifying-glass {
    color: rgba(139, 139, 139, 1);
    vertical-align: middle;
    margin-right: 8px;
}

.search_bar input {
    border: none;
    outline: none;
    background: transparent;

}

.search_bar input::placeholder {
    color: rgba(35, 35, 35, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}

.search_bar .border_left {
    border-left: 1.5px solid rgba(242, 242, 242, 1);
    margin-right: 16px;
}

.search_bar button {
    border: none;
    background: transparent;
}

.search_bar button i {
    font-size: 22px;
    color: rgba(60, 55, 55, 1);
}

/* header end */

/* hero start */
.hero_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: 0 auto;
}

.text_content {
    max-width: 50%;
}

.text_content .tag {
    display: inline-block;
    background-color: #ffe6e6;
    color: #ff4d4f;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.tag img {
    height: 24px;
    width: 26px;
    margin-left: 12px;
    margin-right: 12px;
}

.text_content h1 {
    font-size: 66px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hours {
    color: rgba(245, 71, 72, 1);
    font-weight: 500;

}

.text_content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(103, 103, 103, 1);
}

.buttons {
    display: flex;
    gap: 20px;
}

.order-btn {
    padding: 10px 30px;
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.order-btn:hover {
    background-color: #e63946;
}

.process-btn {
    padding: 10px 30px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.process-btn:hover {
    background-color: #f5f5f5;
}

.hero_img {
    width: 50%;
}

.hero_img img {
    width: 100%;
    height: auto;
}

/* hero end */
/* card section start*/
section {
    background-color: rgba(254, 245, 245, 1);
}

.text_section p {
    padding-top: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1%;
    text-align: center;
    color: rgba(245, 71, 72, 1);

}

.text_section h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;

}

.card_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 50px;
}

.card {
    width: 300px;
    height: 310px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.04);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    padding-top: 53px;
}

.card h6 {
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    color: rgba(46, 46, 46, 1);
}

.card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: rgba(103, 103, 103, 1);
    margin-top: 14px;
    padding: 0 20px;
}

/* card section end  */
/* features section start */
.features_section {
    background: rgba(255, 255, 255, 1);
}

.features_main {
    max-width: 1168px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features_img img {
    Width: 664px;
    Height: 738px;
}

.choose {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1%;
    color: rgba(3, 166, 107, 1);
}

.features_text h5 {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.content {
    padding-top: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: rgba(103, 103, 103, 1);
}

.explore_now {
    margin-top: 75px;
    padding: 25px 40px;
    border-radius: 12px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    background: rgba(248, 96, 97, 1);
    color: rgba(255, 250, 250, 1);
    border: none;
    cursor: pointer;

}

/* features section end  */

/*  features section two start  */

.features_two {
    background: rgba(255, 255, 255, 1);
}

.features_two_main {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.text-content {
    flex: 1;
    padding: 40px;
}

.home {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 1%;
    color: rgba(249, 186, 69, 1);
}

.home_we {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.vero {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: rgba(103, 103, 103, 1);
    margin-bottom: 70px;
    padding-top: 22px;
}

.explore-btn {
    border: 1.5px solid rgba(248, 96, 97, 1);
    border-radius: 12px;
    padding: 25px 40px;
    text-decoration: none;
    color: rgba(248, 96, 97, 1);

}

.featuretwo_img img{
    width: 500px;
    height: 646px;
}
/* features section two end  */

/* mobile app view start */
.mobile_view {
    background: rgba(254, 245, 245, 1);
    padding-top: 100px;
    padding-bottom: 100px;

}

.mobile_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_img {
    width: 50%;
    padding-left: 125px;
}

.mobileview_txt {
    width: 50%;
}

.app {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1%;
    color: rgba(245, 71, 72, 1);
}

.mobileview_txt h5 {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.lorem {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: rgba(103, 103, 103, 1);
    padding-top: 22px;
}

.appstore {
    margin-top: 60px;
    background: transparent;
    padding: 30px 23px;
    border: 1.5px solid rgba(238, 220, 220, 1);
    border-radius: 12px;
    margin-right: 30px;
}

.appstore a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    color: rgba(46, 46, 46, 1);

}

.playstore {
    margin-top: 60px;
    background: transparent;
    padding: 30px 23px;
    border: 1.5px solid rgba(238, 220, 220, 1);
    border-radius: 12px;
}

.playstore a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    color: rgba(46, 46, 46, 1);
}

.fa-brands {
    padding-right: 30px;
    font-size: 30px;
}
/* mobile app view End */
/* Footer Start */
footer {
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.footer_main {
    display: flex;
    justify-content: space-between;
    padding: 72px 0px 80px 0px;
    align-items: flex-start;
}

.footer_column_logo {
    margin-right: 72px;

}

.footer-column h3 {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: rgba(46, 46, 46, 1);
    margin-top: 16px;
}

.footer_column_logo p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 266px;
    color: rgba(103, 103, 103, 1);
    margin-top: 25px;
}

.footer-column p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 266px;
    color: rgba(103, 103, 103, 1);
    margin-top: 25px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    margin: 10px 0;
    color: rgba(103, 103, 103, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.footer-column ul li a:hover {
    color: #ff4d4f;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    margin-top: 30px;
}

.footer-bottom p {
    font-size: 0.8em;
    color: #666;
    display: inline-block;
    margin-right: 20px;
}

.footer-bottom a {
    font-size: 0.8em;
    color: #666;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

/* Footer End */